.navb{
    background-color:rgb(28, 150, 54);
    
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

form{
    padding:20px 0px 0px 50px ;
}

.galeria{
    display: inline;
    width: 300px;
}

footer{
    background-color: rgb(10, 120, 88);
    padding: 1em 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.card-esp{
    margin-bottom: 5px;
}